# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
---
Language: Cpp
BasedOnStyle: Google

# The extra indent or outdent of access modifiers, e.g. public:.
# 类的权限标签缩进大小，一般与IndentWidth的值取相反值
AccessModifierOffset: -4

# Style of aligning consecutive assignments.
# 对齐连续作业，最明显的就是连续的等号同样列位
AlignConsecutiveAssignments:
  # Whether aligning is enabled.
  # 是否启用对齐
  Enabled: true
  # Whether to align across empty lines.
  # 是否夸空行对齐
  AcrossEmptyLines: false
  # Whether to align across comments.
  # 是否夸注释对齐
  AcrossComments: true
  # Only for AlignConsecutiveAssignments.
  # Whether compound assignments like += are aligned along with =.
  # 如`+=`这类操作是否对齐
  AlignCompound: true
  # Only for AlignConsecutiveDeclarations.
  # Whether function pointers are aligned.
  # 函数指针是否对齐
  AlignFunctionPointers: true
  # Only for AlignConsecutiveAssignments.
  # Whether short assignment operators are left-padded to the same length as long ones in order to put all assignment operators to the right of the left hand side.
  PadOperators: true
# Style of aligning consecutive declarations.
# 声明对齐，即变量名对齐
AlignConsecutiveDeclarations:
  Enabled: true
# Style of aligning consecutive macro definitions.
# 宏对齐
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true

# Dependent on the value, int f() { return 0; } can be put on a single line.
# 短函数单独一行
AllowShortFunctionsOnASingleLine: Empty
# Dependent on the value, if (a) return; can be put on a single line.
AllowShortIfStatementsOnASingleLine: WithoutElse

# If true, short case labels will be contracted to a single line.
AllowShortCaseLabelsOnASingleLine: true
# Style of aligning consecutive short case labels.
# Only applies if AllowShortCaseExpressionOnASingleLine or AllowShortCaseLabelsOnASingleLine is true.
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: true

# The brace breaking style to use.
# 大括号样式
BreakBeforeBraces: Attach

BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma

# The column limit.
# 行长
ColumnLimit: 100

# Indent case labels one level from the switch statement.
IndentCaseLabels: false
# Indent goto labels.
IndentGotoLabels: false
# The number of columns to use for indentation.
IndentWidth: 4

# The number of columns used for tab stops.
TabWidth: 4

# The way to use tab characters in the resulting file.
UseTab: Never
---

